./deps/libevent
./deps/googletest
./deps/jsoncpp
build/*
cmake-build-*/*
.vscode/*
.DS_Store
.idea
.ccls-cache
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
GRTAGS
GPATH
GTAGS
#*#
