./deps/3rd
./deps/libevent
./deps/googletest
./deps/jsoncpp
./deps/benchmark
.vscode
!.vscode/tasks.json
!.vscode/launch.json
./docs/doxy/
build/*
build_*
cmake-build-*/*
build
.cache/*
.DS_Store
.idea
.ccls-cache
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
GRTAGS
GPATH
GTAGS
docs/book
#*#
